body {
  background-color: #1b1b1b;
  width: auto;
  height: auto;
  font-family: "Spartan";
}

#nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  gap: 10%;
  padding-top: 2vh;
}

.nav-bar-item {
  width: 100px;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  color: white;
  padding-bottom: 4px;
  text-align: center;
  transition: 0.3s;
}

.nav-bar-item:hover {
  border-bottom: 2px solid #ec4038;
  transition: 0.3s;
}

.logo {
  width: 60px;
  height: 60px;
  place-content: center;
  border-radius: 100%;
  flex-shrink: 0;
  background: linear-gradient(180deg, #662523 0%, #ec4038 100%);
  box-shadow: 0px 4px 30px -8px rgba(235, 65, 55, 0.6);
}

.text-inside {
  font-family: "Dawning of a New Day";
  font-size: 30px;
  color: white;
  text-shadow: 0px 2px 6px #662523;
  font-weight: 500;
  text-align: center;
  padding-left: 24%;
}

#hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20vh;
  margin: auto;
  max-width: 800px;
}

#profile-picture {
  width: 255px;
  height: 255px;
  flex-shrink: 0;
  border-radius: 100%;
  border: 8px solid #ec4038;
  box-shadow: 0px 0px 90px 0px rgba(236, 64, 56, 0.36);
  background: url("profile_picture.jpg"), lightgray 50% / cover no-repeat;
  background-size: contain;
}

#hero-section-text {
  /* display: inline-flex; */
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 50px;
}

#first-line {
  color: white;
  font-size: 28px;
  font-weight: medium;
  line-height: 42px;
}

#second-line {
  color: white;
  font-size: 38px;
  font-weight: bold;
  line-height: 57px;
}

#third-line {
  color: white;
  font-size: 38px;
  font-weight: medium;
  line-height: 57px;
}

#fourth-line {
  color: #ec4038;
  font-size: 38px;
  font-weight: medium;
  line-height: 57px;
}

#cta-buttons {
  display: flex;
  flex-direction: row;
  padding-top: 4%;
}

#outline-button {
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-family: "Spartan";
  font-weight: bold;
  word-wrap: break-word;

  width: 230px;
  padding: 4%;
  margin-right: 10%;

  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0px 1px 2px #662523;
  border-radius: 34px;
  border: 2px solid #ec4038;
  box-shadow: 0px 4px 85px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

#filled-button {
  background-color: #ec4038;
  color: white;
  font-size: 20px;
  font-family: "Spartan";
  font-weight: bold;
  word-wrap: break-word;

  width: 230px;
  padding: 4%;

  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0px 1px 2px #662523;
  border-radius: 34px;
  border: 2px solid #ec4038;
  box-shadow: 0px 4px 85px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

#outline-button:hover {
  background-color: #ec4038;
  box-shadow: 0px 4px 85px 0px rgba(117, 12, 12, 0.5);
  transition: 0.5s;
}

#filled-button:hover {
  background-color: transparent;
  border: 2px solid #ec4038;
  box-shadow: 0px 4px 85px 0px rgba(117, 12, 12, 0.5);
  transition: 0.5s;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160vh;
  flex-direction: column;
}

#about-title {
  width: auto;
  text-align: center;
  color: white;
  font-weight: medium;
  border-bottom: 2px solid #ec4038;
  line-height: 28px;
}

#section-title {
  width: auto;
  align-self: flex-start;
  padding-left: 20vw;
  padding-top: 8vh;
  color: white;
  font-weight: bold;
  font-size: 20;
  line-height: 28px;
}

#section-text {
  width: 820px;
  align-self: flex-start;
  padding-left: 20vw;
  padding-top: 4vh;
  color: white;
  font-weight: medium;
  font-size: 20;
  line-height: 28px;
}
